@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

.LoginPage {
    background-color: beige;
    height: 90vh;
    top: 10vh;
    position: relative;
}

.LoginContainer {
    position: relative;
    top: 10%;
}

.LoginPage h1 {
    font-family: Cabin, sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #1A535C;
}

.LoginForm {
    display: flex;
    justify-content: center;
    position: relative;
    
}

.LogIn {
    padding: 2rem 2rem 2rem 2rem;
    background-color: #4ECDC4;
    border-radius: 5px;
    width: 70%;
}

.DataInput {
    margin-bottom: 1rem;
    display: block;
}

.DataInput input {
    width: 100%;
    padding: 0.5rem;
    font-family: Cabin, sans-serif;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1rem;
}
.DataInput input:focus{
    outline: none;
}

.LogIn label {
    font-family: Cabin, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #1A535C;
    display: block;
    margin-bottom: 0.5rem;
}

.LoginButton {
    text-align: center;
    margin-top: 2rem;
    display: block;
}

.LoginButton input {
    padding: 0.375rem 1rem;
    text-transform: uppercase;
    color: #1A535C;
    font-weight: 700;
    font-size: 1rem;
    background-color: #FFE66D;
    border: none;
    border-radius: 5px;
}



