@import url('https://unpkg.com/css.gg@2.0.0/icons/css/trash.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css');

.transactionsPage {
    height: 100%;
    top: 10%;
    position: relative;
    background-color: beige;
}

.transactionsContainer {
    position: relative;
    top: 20vh;
    width: 80%;
}

.menu {
    margin-top: 3rem;
    text-align: right;
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;
  }
  
.transactionsContainer h1 {
    font-family: Cabin, sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #1A535C;
}

.searchBar {
    display: flex;
    align-items: center;
    background: #F0F0F0;
    border-radius: 5px;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.searchBar input {
    font-size: 1rem;
    font-family: 'Cabin', sans-serif;
    border-radius: 5px;
    width: 90%;
    background: #F0F0F0;
    border: none;
    padding: 0.5rem;
}

.searchBar input:focus {
    outline: none;
}

.searchBar i {
    display: flex;
    align-items: center;
    margin-right: 0.75rem;
}

.btn-delete {
    display: flex;
    align-items: center;
    background: none;
    cursor: pointer;
    border: none;
    padding: 0 0.5rem;
    color: #ed4337;
    opacity: 0.7;
    margin-left: 1rem;
}

.btn-delete:hover{
    opacity: 1;
}

.btns-confirm {
    display: flex;
    justify-content: flex-end;
}

.btn-confirm, .btn-close {
    display: inline-flex;
    width: 6rem;
    justify-content: center;
    padding: 0.5rem;
    background-color: #1A535C;
    border-radius: 5px;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    border: 1px #1A535C solid;
}

.btn-confirm {
    margin-right: 1rem;
}

.btn-close {
    background-color: #B2B2B2;
    border: 1px #B2B2B2 solid;
}

